body {
	font-family: 'Ubuntu', sans-serif;
}

code {
	font-family: 'Anonymous Pro', sans-serif;
}

/*font-family: 'Ubuntu Mono', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Anonymous Pro', sans-serif;*/